/*================================
=============FONT FAMILY==========
===================================*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/*================================
======GENERAL STYLING/RESET=======
===================================*/
*, *:before, *:after {
box-sizing: border-box;
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
}

.container{
margin-left: 120px;
}


/*================================
====SHARED STYLING PROPERTIES=====
===================================*/

header, .about, .battles, 
.battle-requirement, .battle-requirement-box,
.opinion, .book-and-price{
background-repeat: no-repeat;
background-size: cover;
}

.nav,.scroll-down,.brief-about,
.battle-requirement-box p,
.opinion-wordings,
.card--header div:nth-child(2) >p,
.card--lead, .date,
.brief-about-the-book p,
.brief-about-the-book span,
.copyright, 
.battle-description{
font-family:'Open Sans', sans-serif;  
font-weight: 400;
font-size: 18px;
color: #fff;
}

.header-lead,
.brief :not(:nth-child(4)), .about-battle> p, 
.how, .opinion-wordings :not(:nth-child(n+3)),
.card--header>div:nth-child(2)>h3,
.brief-about-the-book > :nth-child(-n+2),
.battle-requirement-box h3,
.battle-type{
font-family: 'Bebas Neue', cursive;
color: #fff;
font-weight: 700;
} 

h3, .about-battle p:first-child{
font-size:24px ;
letter-spacing: 2px;
}

h1, .about-battle p:nth-child(2){
font-size: 80px;
letter-spacing: 3px;
}




/*================================
=============HEADER SECTION=======
===================================*/



header{
background-image: url(images/header-bg.svg);
height: 964px;

}

.nav{

display: flex;
gap: 174px;
align-items: center;
}

.nav-links{
margin-top: 44px;
display: flex;
align-items: center;
gap: 66px;
}



.logo{
width: 144px;
height: 46px;
padding-top: 31px;
}

.nav-links a{
display: block;
font-size: 12px;
font-weight: 700;
letter-spacing: 0.1em;
line-height: 16px;
color: #fff;
}

.header-lead{
margin-top: 253px;
margin-left: 329px;
}



.header-lead > h1{
margin-left: 50px;
height: 73px;
font-size: 5em;
letter-spacing: 3px;
margin-bottom: 7px;
}


.header-lead > h3{
width: 526px;
text-transform: uppercase;
font-style: normal;
font-weight: 700;

}


.scroll-down{
font-size: 12px;
font-weight: 700;
line-height: 22px;
color: #fff;
margin-top: 305px;
text-align: center;
margin-left: 80px;
}



/*================================
=============ABOUT SECTION=======
===================================*/

.about{
background-image: url(images/about-bg-image.png);
height: 1052px;
background-position: center;
margin: -2px 0;
}



.brief > h3{
margin-top: 256px;
}

.brief > h1{
width: 515px;
height: 209px;
}

.h1-border{
width: 511px;
height: 3px;
border-radius: 4px;
background-color: #fff;
margin-bottom: 20px;
}

.brief-about{
width: 546px;
font-size: 18px;
text-align: justify;
color: #fff;
}

.brief-about-border{
width: 122px;
height: 6px;
background-color: #d23535;
margin-top: 10px;
}

.about .container{
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 150px;
}

 .image-slider{
     margin-top: 350px;
 }


.slider3{
position: relative;
z-index: 1; 
}

.slider2{
position: relative;
top: -589px;
right: 22px;
z-index: 2;
}

.slider1{
position: relative;
top: -1200px;
right: 120px;
z-index: 3;
} 


.show:hover{
z-index: 4;
cursor: pointer;
}







/*================================
=============BATTLES SECTION=======
===================================*/
.battles{
background-image: url(images/section-neverlost-bg-image.png);
height: 870px;
}

.about-battle{
margin-top: 171px;
}

.about-battle p:first-child{
width: 312px;
}

.about-battle p:nth-child(2){
width: 412px;
margin-bottom: 70px;
}

.battles .container{
display: flex;
gap: 126px;
}

.battle-type{
font-size: 36px;
letter-spacing: 2px;
color: #d23535;
}

.button-area{
display: grid;
grid-template-columns: 32px 366px;
column-gap: 32px;
border:0
}

.battle-description{
text-align: justified;
width: 362px;
color: #fff;
display: none;
grid-column: 2/3;
grid-row: 2;
}


.battle-type{
grid-column: 2/3;
grid-row: 1;
}


.button-box{

margin-left: -10.5px;
margin-top: 8px;
width: 20px;
height: 20px;
background-color:black;
border: 3px solid white;
cursor: pointer;
border-radius: 50%;
} 

.button-box:hover{
    background-color: #fff;
}



.about-battle :last-child{
border-left: 0;
}




input{
opacity: 0;
height: 14px;
width: 14px;

}



input:checked ~ p{
display: block;
}

/*=================================
=============BATTLE REQUIREMENT====
===================================*/
.battle-requirement{
background-image: url(images/Group\ 2.png);
height: 961px;
margin-top:-1px;
}

.how{
text-align: center;
padding-top: 145px;

}


.battle-requirement-box{
background-image: url(images/disquette.png);
height: 400.69px;
margin-top: 133.4px;
}

.battle-requirement-box h3{
color: #d23535;
}



.battle-requirement-box {
display: grid;
width: 573.2px;
height: 400.69px;
grid-template-areas: 
'morale diversion'
'focus corners'
'attack attack';
grid-template-columns:276.46px 296.39px;
grid-template-rows:125.29px 125.6px 149.8px;
}




.morale{
grid-area: morale;
}

.diversion{
grid-area: diversion;
}

.focus{
grid-area: focus;
}


.corners{
grid-area: corners;
}

.attack{
grid-area: attack;
}

.morale h3{
padding-top: 14.89px;
padding-bottom: 6.07px;
padding-left: 19.16px;
}

.morale p{
padding-left: 18.78px;
}

.diversion h3{
padding-left: 18.76px;
padding-top: 14.89px;
padding-bottom: 6.07px;

}

.diversion p{
padding-left: 18.97px;
}

.focus h3{
padding-left: 10.51px;
padding-top: 15.26px;
padding-bottom: 2.41px;
}

.focus p{
padding-left: 10.78px;
}

.corners h3{
padding-left: 18.76px;
padding-top:15.26px;
padding-bottom: 7.41px;
}

.corners p{
padding-left:18.97px ;
}

.attack h3{
padding-left: 10.78px;
padding-top: 25.46px;
padding-bottom: 7.62px;
}

.attack p{
padding-left: 10.51px;
padding-right: 48px;
text-align: left;
}


/*=================================
=============OPINION SECTION=======
===================================*/
.opinion{
background-image: url(images/bg\ image\ 5.png);
height: 948px;
margin-top: -1px;

}

.opinion .container{
display: flex;
gap: 183px;
}


.opinion-wordings p{
width: 435px;
margin: 40px 0;
}

.opinion-wordings div{
width: 260px;
height: 60px;
background-color: #d23535;
color: #1a1917;
border-radius: 4px;
font-weight: 700;
padding: 18px 38px 20px 31px;
}

.opinion-wordings{
padding-top: 303.67px;
}


.image-background-color{
position: relative;
background-color: #d23535;
width: 64.31px;
height: 64.31px;
border-radius: 50%;
}

.card--img{
position: absolute;
width:65.27px;
height: 65.27px;
border-radius: 50%;
right: 10px;
}

.card{
width: 452px;
height: 201px;
background: #FFFFFF14;
border-radius: 10px;
}

.card--header{
display: flex;
align-items: center;
margin-bottom: 21px;
gap: 22px;
padding-top: 15px;
padding-left: 20px;
}


.card--header div:nth-child(2)> h3{
font-size: 24px;
color: #D23535;

}

.card--header div:nth-child(2)>p,
.card--lead, .date,
.brief-about-the-book p,
.brief-about-the-book span,
.footer-line,
.copyright{
opacity: 0.5;
}

.card--lead, 
.brief-about-the-book p,
.brief-about-the-book span
{
opacity: 1;
}

.first-card .card--lead{
padding-left: 17px;
}

.first-card >p{
width: 397px;
}

.date{
padding-left: 16.4px;
}

.second-card > p{
width: 406px;
padding-left: 16px;
}

.third-card >p{
width: 407px;
padding-left: 16px;
}

.group-of-cards{
margin-top: 145px;
}

.first-card{
margin-left: 100px;
margin-bottom: 26px;
}

.second-card{
margin-bottom: 30px;
}

.third-card{
margin-left: 80px;
}


/*=================================
========BOOK AND PRICE SECTION=====
===================================*/

.book-and-price{
background-image: url(images/Rectangle\ 4.3.png);
height: 960px;
}

.brief-about-the-book p{
width: 645px;
}

.book-and-price > .container{
display: flex;
align-items: center;
gap: 66px;
}

.book{
margin-top: 50px;
}

.brief-about-the-book div{
background-color: #d23535;
width: 260px;
height: 60px;
margin-top: 20px;
border-radius: 4px;
padding-top: 19px ;
padding-bottom: 19px;
padding-left: 25px;
}

.brief-about-the-book  span{
font-weight: 700;
color: #1A1917;
font-size:16px ;
}

.brief-about-the-book div>span:nth-child(1){
margin-right: 29px;
}

.footer-line{
margin-top:150px;
margin-right: 60px;
margin-left: 120px;
border: 0.87px solid #FFFFFF;
}

.copyright{
margin-top: 22px;
color: #fff;
text-align: center;
font-size: 14px;
}

